<%inherit file="/base.html"/>

<%block name="content">
<head>
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/artDialog-6.0.4/css/ui-dialog.css"
          rel="stylesheet">
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/artDialog-6.0.4/dist/dialog-min.js"></script>
</head>
<body>
    <table class="table table-bordered table7_demo" style="text-align: center;margin-top: 20px;">
    <thead style="text-align: center">
    <tr>
        <th style="text-align: center;">业务名称</th>
        <th style="text-align: center;">主机</th>
        <th style="text-align: center;">脚本名称</th>
        <th style="text-align: center;">内存使用率</th>
        <th style="text-align: center;">磁盘使用率</th>
        <th style="text-align: center;">CPU使用率</th>
        <th style="text-align: center;">脚本执行开始时间</th>
        <th style="text-align: center;">脚本执行结束时间</th>
        <th style="text-align: center;">脚本执行详情</th>
    </tr>
    </thead>

    <tbody id="render_table">
    %for item in data:
    <tr>
        <td style="text-align: center;">${item['biz_name']}</td>
        <td style="text-align: center;">${item['ip_list_all']}</td>
        <td style="text-align: center;">${item['script_name']}</td>
        <td style="text-align: center;">${item['memory']}</td>
        <td style="text-align: center;">${item['disk']}</td>
        <td style="text-align: center;">${item['cpu']}</td>
        <td style="text-align: center;">${item['start_time']}</td>
        <td style="text-align: center;">${item['end_time']}</td>
        <td><a href="javascript:;"  class="king-btn king-info mb15 plugin4_demo2" data-code="2" data-data="${item['id']}" onclick="f(this)">查看详情</a></td>
        <!--
        <td style="text-align: center;">${item['log_content']}</td>
        -->
    </tr>
    %endfor
    </tbody>

</table>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div style="margin-top: 40px;">
        <div id="main" style="width:1500px;height:400px;float: left;"></div>
        <div id="main1" style="width:1500px;height:400px;float: right;"></div>
        <div id="main2" style="width:1500px;height:400px;float: right;"></div>
    </div>
    <!-- ECharts单文件引入 -->
    <script src="https://echarts.baidu.com/build/dist/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts图表
        // 这里是 CPU使用百分比折线图显示

        function f(b) {
        var a = parseInt($(b).attr('data-data'));  // 这里是拿到该条数据的id
        console.log(a);
        console.log(typeof(a));
        $.ajax({
            type: 'get',
            url: '${SITE_URL}get_logcontent/' + a,
            dataType: "json",
            success: function (data) {
                console.log(data.data);
                var data_list = '';
                for(var i = 0;i < data.data.length;i++){
                    data_list += data.data[i].log_content
                }

                var d = dialog({
                    width: 460,
                    title: 'message',
                    content: '<textarea class="form-control" style="height:260px;">' + data_list + '</textarea>',
                    okValue: '确定',
                    ok: function () {
                        // do something
                    },
                    cancelValue: '取消',
                    cancel: function () {
                        // do something
                    }
                });
                d.showModal();
            }
        })
    }




        function refresh() {
            var url = window.location.href;
        get_url = url.split('contactus/')[1];
        console.log(get_url);
        $.ajax({
            type: "get",
            url: '${SITE_URL}get_data/' + get_url,
            dataType: "json",
            success: function (data) {
                var myChart = echarts.init(document.getElementById('main'));
        var myChart1 = echarts.init(document.getElementById('main1'));
        var myChart2 = echarts.init(document.getElementById('main2'));

        var ip_list = [];
        var ip_lists = [...new Set(ip_list)];
        console.log(ip_lists);
        var time_list = [];
        var option = {
                    title: {
                        text: '内存使用量',  // 这里拼一个字符串，ip标题
                        // subtext: '纯属虚构'
                    },
                    tooltip: {
                        trigger: 'axis'   // 鼠标放上去会有数据提示
                    },
                    legend: {
                        data: ip_lists,   // 表头展示几个ip那种
                    },
                    // 这里是控制工具箱的
                    toolbox: {
                        show: true,
                        feature: {
                            mark: {show: true},
                            dataView: {show: true, readOnly: false},
                            magicType: {show: true, type: ['line','bar']},
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    xAxis: [
                        {
                            type: 'category',   // 拖拽重计算
                            boundaryGap: true,  // 控制不从表头开始，中间会空一段间隔
                            data: time_list  // 这里放日期的列表
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            axisLabel: {
                                formatter: '{value} %'
                            }
                        }
                    ],
                    series: [],
                };
               var option2 = {
                    title: {
                        text: '磁盘使用率',  // 这里拼一个字符串，ip标题
                        // subtext: '纯属虚构'
                    },
                    tooltip: {
                        trigger: 'axis'   // 鼠标放上去会有数据提示
                    },
                    legend: {
                        data: ip_lists,   // 表头展示几个ip那种
                    },
                    // 这里是控制工具箱的
                    toolbox: {
                        show: true,
                        feature: {
                            mark: {show: true},
                            dataView: {show: true, readOnly: false},
                            magicType: {show: true, type: ['bar', 'line']},
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    calculable: true,
                    xAxis: [
                        {
                            type: 'category',   // 拖拽重计算
                            boundaryGap: true,  // 控制不从表头开始，中间会空一段间隔
                            data: time_list  // 这里放日期的列表
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            axisLabel: {
                                formatter: '{value} %'
                            }
                        }
                    ],
                    series: [],
                };
               var option3 = {
                    title: {
                        text: 'CPU使用量',  // 这里拼一个字符串，ip标题
                        // subtext: '纯属虚构'
                    },
                    tooltip: {
                        trigger: 'axis'   // 鼠标放上去会有数据提示
                    },
                    legend: {
                        data: ip_lists,   // 表头展示几个ip那种
                    },
                    // 这里是控制工具箱的
                    toolbox: {
                        show: true,
                        feature: {
                            mark: {show: true},
                            dataView: {show: true, readOnly: false},
                            magicType: {show: true, type: ['bar', 'line']},
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    calculable: true,
                    xAxis: [
                        {
                            type: 'category',   // 拖拽重计算
                            boundaryGap: true,  // 控制不从表头开始，中间会空一段间隔
                            data: time_list  // 这里放日期的列表
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            axisLabel: {
                                formatter: '{value} %'
                            }
                        }
                    ],
                    series: [],
                };





               console.log(data.data);
                var serie1 = [];
                var serie2 = [];
                var serie3 = [];


               for(var item in data.data){
                    ip_list.push(data.data[item]['ip_list_all']);
                    time_list.push(data.data[item]['start_time']);
                }
               console.log(ip_list);
               console.log(time_list);
               for(var i = 0; i < data.data.length; i++) {
                   var chart_data1 = {
                       name: data.data[i]['ip_list_all'],
                       type: 'line',
                       smooth: true,
                       data: data.data[i]['memory'],
                   };
                   var chart_data2 = {
                       name: data.data[i]['ip_list_all'],
                       type: 'line',
                       smooth: true,
                       data: data.data[i]['disk'],
                   };
                   var chart_data3 = {
                       name: data.data[i]['ip_list_all'],
                       type: 'line',
                       smooth: true,
                       data: data.data[i]['cpu'],
                   };
                   console.log(chart_data1);
                   serie1.push(chart_data1);
                   serie2.push(chart_data2);
                   serie3.push(chart_data3);
                   option.series = serie1;
                   option2.series = serie2;
                   option3.series = serie3;

               }


                // 为echarts对象加载数据
                myChart.setOption(option);
                myChart1.setOption(option2);
                myChart2.setOption(option3);
            }
        })
        }


        refresh();

        setInterval(function () {
            refresh();
        }, 5000);
    </script>
</body>
</%block>
