<%inherit file="/base.html"/>
<%block name="content">
<head>
<link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
<script src="${STATIC_URL}js/base.js" type="text/javascript"></script>
<style>
    .col-sm-3 {
            line-height: 30px;
            text-align: right;
        }
</style>

</head>
<div class="king-block king-block-bordered">
    <div class="king-block-header king-gray-light">
        <ul class="king-block-options">
            <li>
                <button type="button"><i class="fa fa-cog"></i></button>
            </li>
        </ul>
        <h3 class="king-block-title">新建待办模板</h3>
    </div>
    <div class="king-block-content">

        <div class="form-group">
            <label for="inputCount3" class="col-sm-3 control-label">业务名称</label>
            <div class="col-sm-7">
                <select name="biz_id" id="biz_id" class="form-control bk-valign-top" style="width: 666px;">
                    <option value="">--请选择--</option>
                    %for item in data:
                    <option value="${item['bk_biz_id']}">${item['bk_biz_name']}</option>
                    %endfor
                </select>
            </div>
            <span class="text-danger mt5 fl">*</span>
        </div>
        <div class="form-group" style="margin-top:40px;margin-bottom:80px;">
            <label for="inputEmail3" class="col-sm-3 control-label">模板类型</label>
            <div class="col-sm-7">
                <select name="template_type" id="template_type" class="form-control">
                    <option value="">--请选择模板类型--</option>
                    <option value="变更发布">变更发布</option>
                    <option value="扩缩容">扩缩容</option>
                    <option value="上线类">上线类</option>
                    <option value="下架类">下架类</option>
                    <option value="例行维护">例行维护</option>
                </select>
            </div>
        </div>
        <div class="form-group clearfix" style="margin-bottom: 10px;">
            <label class="col-sm-3 control-label bk-lh30 pt0">模板名称</label>
            <div class="col-sm-9">
                <input type="text" id="template_name" class="form-control" id="inputCount3"
                       name="script_name" placeholder="请输入模板名称" style="width: 666px;">
            </div>
        </div>

        <!--<div class="form-group has-feedback">-->
            <!--<label class="control-label col-sm-3" for="introduction">选择导入模板</label>-->
            <!--<div class="col-sm-7">-->
                <!--<input type="submit" class="btn btn-query" id="download" value="下载导入模板" onClick="download();"/>-->
            <!--</div>-->
        <!--</div>-->

        <div class="form-group">
            <div class="col-sm-7 col-sm-offset-3" style="margin-top:40px;margin-bottom:80px;">
                <input type="submit" id="submit_btn" class="king-btn king-success mr10" value="提交">
            </div>
        </div>
    </div>
</div>
</%block>

<script>
    // 新建模板入库
    $('#submit_btn').click(function () {
            var biz_id = $('#biz_id').val();
            var template_type = $('#template_type').val();
            var template_name = $('#template_name').val();
            var biz_name = $("#biz_id").find("option:selected").text();  // 获取到业务名称
        $.ajax({
            type: "get",
            url: '${SITE_URL}template/',
            data: {"biz_id": biz_id,"template_type": template_type,"template_name":template_name,"biz_name": biz_name},
            success: function (data) {
                window.location.href='${SITE_URL}record/index/';
            },
            error: function (data) {
                console.log('入库失败');

            }
        })
        })
    /*
    function download() {
        var url = "home_application/record/checklist.xls/";
        var v = $('#dataTypeSel').find("option:selected").val();
        var fileName;
        if (v == "1022") {
            fileName = "安全问题通知书数据模板";
        } else {
            alert("请选择您要下载的Excel模板类型！");
            return false;
        }
        window.location.href = url + fileName + ".xls";
    }
    */
</script>

