<%inherit file="/base.html"/>

<%block name="content">
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="http://magicbox.bk.tencent.com/static_api/analysis.js"></script>
    <!--[if lt IE 9]><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/html5shiv.min.js"></script><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/respond.min.js"></script><![endif]-->
</head>

<body class="bg-white" data-bg-color="bg-white">
    <div class="king-page-box">
        <div class="king-layout2-main mt15" style="width:1200px;">
            <div class="container-fluid mb0 ">
                <div class="row">
                    <div class="col-md-4">
                        <form class="form-horizontal">
                            <div class="form-group clearfix ">
                                <label class="col-sm-4 control-label bk-lh30 pt0">业务名称：</label>
                                <div class="col-sm-8">
                                    <select name="biz_id" id="biz_id" class="form-control bk-valign-top">
                                        <option value="">--请选择--</option>
                                        %for item in data:
                                        <option value="${item['bk_biz_id']}">${item['bk_biz_name']}</option>
                                        %endfor
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <form class="form-horizontal">
                            <div class="form-group clearfix ">
                                <label class="col-sm-4 control-label bk-lh30 pt0">模板类型：</label>
                                <div class="col-sm-8">
                                    <select name="" id="" class="form-control bk-valign-top">
                                        <option value="选择项1">选择项1</option>
                                        <option value="选择项2">选择项2</option>
                                        <option value="选择项3">选择项3</option>
                                        <option value="选择项4">选择项4</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="container-fluid mb0 ">
                        <div class="row">
                            <div class="col-md-4">
                                <form class="form-horizontal">
                                    <div class="form-group clearfix ">
                                        <label class="col-sm-4 control-label bk-lh30 pt0">模版名称：</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control bk-valign-top" id=""
                                                   placeholder="提示信息"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <form class="form-vertical p15 tr">
                <div class="form-group">
                    <button type="button" class="king-btn mr10  king-success">查询</button>
                    <a class="btn btn-info" href="${SITE_URL}add_template/">新增</a>
                </div>
            </form>
            <!-- 设置面板End -->
            <table class="table mb0 pr15 ranger-box2  ">
                <thead>
                <tr>
                    <th style="width: 70px;">序号</th>
                    <th style="width: 15%;">操作事项</th>
                    <th style="width: 15%;">备注</th>
                    <th style="width: 15%;">负责人</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="width: 70px;">1</td>
                    <td style="width: 15%;">Ravi Kumar</td>
                    <td style="width: 15%;">India</td>
                    <td style="width: 15%;">Paid</td>
                    <td>
                        <button class="btn btn-xs btn-success"><i class="glyphicon glyphicon-ok"></i></button>
                        <button class="btn btn-xs btn-warning"><i class="glyphicon glyphicon-edit"></i></button>
                        <button class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        $(function(){

        });
    </script>
</body>

</html>

</%block>
